src/markup/aboutus.jade
extends partials/_main.jade

block vars
  - var copy = ['Здравствуйте! Меня зовут Елена, будем знакомы :)','История создания студии берёт свои истоки из далёкого прошлого, когда мечты казались очень реальными и не имели границ. Мне всегда хотелось создавать необычные и красивые вещи. Время шло,  чувство это росло.','Взрослеешь и понимаешь, что самое необычайное и важное место - это твой дом. Дом, в котором всегда должен царить уют, тепло и красота.','Спустя годы учебы и приобретения опыта, мы начали создавать дома, в которых каждый находит свою красоту, тепло и уют.','Будем рады всем, кто придёт в наш дом - студию  ONEDES!'];

block title
  title Контакты | Onedes - Студия Архитектурного Дизайна

block content
  .content
    h1.content-head.text-center о студии
    .pure-g
      .pure-u-sm-1-1.pure-u-md-1-4.text-center.block-center
        img.logo-animated(src="images/logo-animated.gif")
      .pure-u-sm-1-1.pure-u-md-3-4
        for paragraph in copy
          p.copy= paragraph

dist/aboutus.html
<!DOCTYPE html><html lang="en"><head><title>Контакты | Onedes - Студия Архитектурного Дизайна</title><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><!--FAVICONS--><link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-touch-icon-57x57.png"><link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-touch-icon-60x60.png"><link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-touch-icon-72x72.png"><link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-touch-icon-76x76.png"><link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-touch-icon-114x114.png"><link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-touch-icon-120x120.png"><link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-touch-icon-144x144.png"><link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-touch-icon-152x152.png"><link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon-180x180.png"><link rel="icon" type="image/png" href="favicons/favicon-32x32.png" sizes="32x32"><link rel="icon" type="image/png" href="favicons/android-chrome-192x192.png" sizes="192x192"><link rel="icon" type="image/png" href="favicons/favicon-96x96.png" sizes="96x96"><link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16"><link rel="manifest" href="favicons/manifest.json"><link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5"><link rel="shortcut icon" href="favicons/favicon.ico"><meta name="msapplication-TileColor" content="#da532c"><meta name="msapplication-TileImage" content="favicons/mstile-144x144.png"><meta name="msapplication-config" content="favicons/browserconfig.xml"><meta name="theme-color" content="#ffffff"><!--STYLESHEETS--><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500&amp;subset=latin,cyrillic"><link rel="stylesheet" href="styles/main.css"></head><body><div class="page-wrap"><nav class="pure-menu pure-menu-horizontal pure-menu-fixed"><a href="index.html" class="pure-menu-heading pure-menu-link pull-left">onedes</a><ul class="pure-menu-list"><li class="pure-menu-item"><a href="index.html" class="pure-menu-link">главная</a></li><li class="pure-menu-item"><a href="portfolio.html" class="pure-menu-link">портфолио</a></li><li class="pure-menu-item"><a href="aboutus.html" class="pure-menu-link">о студии</a></li><li class="pure-menu-item"><a href="contacts.html" class="pure-menu-link">контакты</a></li></ul><a href="#" class="menu-list-trigger pure-menu-link pull-right"><span class="icon-hambuger icon-lg"></span></a></nav><main class="content-wrapper"><div class="content"><h1 class="content-head text-center">о студии</h1><div class="pure-g"><div class="pure-u-sm-1-1 pure-u-md-1-4 text-center block-center"><img src="images/logo-animated.gif" class="logo-animated"></div><div class="pure-u-sm-1-1 pure-u-md-3-4"><p class="copy">Здравствуйте! Меня зовут Елена, будем знакомы :)</p><p class="copy">История создания студии берёт свои истоки из далёкого прошлого, когда мечты казались очень реальными и не имели границ. Мне всегда хотелось создавать необычные и красивые вещи. Время шло,  чувство это росло.</p><p class="copy">Взрослеешь и понимаешь, что самое необычайное и важное место - это твой дом. Дом, в котором всегда должен царить уют, тепло и красота.</p><p class="copy">Спустя годы учебы и приобретения опыта, мы начали создавать дома, в которых каждый находит свою красоту, тепло и уют.</p><p class="copy">Будем рады всем, кто придёт в наш дом - студию  ONEDES!</p></div></div></div></main></div><footer class="site-footer"><p class="copyright-text">Copyright (c) 2016 Onedes Studio</p></footer><script src="./scripts/main.js"></script></body></html>
