dist/index.html
<!DOCTYPE html><html lang="en"><head><title>Главная | Onedes - Студия Архитектурного Дизайна</title><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><!--FAVICONS--><link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-touch-icon-57x57.png"><link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-touch-icon-60x60.png"><link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-touch-icon-72x72.png"><link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-touch-icon-76x76.png"><link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-touch-icon-114x114.png"><link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-touch-icon-120x120.png"><link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-touch-icon-144x144.png"><link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-touch-icon-152x152.png"><link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon-180x180.png"><link rel="icon" type="image/png" href="favicons/favicon-32x32.png" sizes="32x32"><link rel="icon" type="image/png" href="favicons/android-chrome-192x192.png" sizes="192x192"><link rel="icon" type="image/png" href="favicons/favicon-96x96.png" sizes="96x96"><link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16"><link rel="manifest" href="favicons/manifest.json"><link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5"><link rel="shortcut icon" href="favicons/favicon.ico"><meta name="msapplication-TileColor" content="#da532c"><meta name="msapplication-TileImage" content="favicons/mstile-144x144.png"><meta name="msapplication-config" content="favicons/browserconfig.xml"><meta name="theme-color" content="#ffffff"><!--STYLESHEETS--><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500&amp;subset=latin,cyrillic"><link rel="stylesheet" href="styles/main.css"></head><body><div class="page-wrap"><nav class="pure-menu pure-menu-horizontal pure-menu-fixed"><a href="index.html" class="pure-menu-heading pure-menu-link pull-left">onedes</a><ul class="pure-menu-list"><li class="pure-menu-item"><a href="index.html" class="pure-menu-link active">главная</a></li><li class="pure-menu-item"><a href="portfolio.html" class="pure-menu-link">портфолио</a></li><li class="pure-menu-item"><a href="aboutus.html" class="pure-menu-link">о студии</a></li><li class="pure-menu-item"><a href="contacts.html" class="pure-menu-link">контакты</a></li></ul><a href="#" class="menu-list-trigger pure-menu-link pull-right"><span class="icon-hambuger icon-lg"></span></a></nav><div class="splash-container splash-container-fixed"><div class="splash"><div class="splash-image"></div><div class="splash-copy centered"><img src="images/logo.svg" class="splash-logo"><p class="splash-subhead">студия архитектурного дизайна</p></div></div><div class="scroll-more animate-bounce"><img src="images/icons/arrow-down.svg"></div></div><main class="content-wrapper content-wrapper-fixed"><div class="content"><h2 class="content-head text-center">наши услуги</h2><div class="pure-g services"><div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4"><div class="service-block"><h3 class="content-subhead">индивидуальный подход</h3><p>ваш проект будет уникальным</p></div></div><div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4"><div class="service-block"><h3 class="content-subhead">3d визуализация</h3><p>разработка трехмерного визуального проекта позволит вам увидеть</p></div></div><div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4"><div class="service-block"><h3 class="content-subhead">рабочая документация</h3><p>пакет чертежей для прикладной работы с проектом</p></div></div><div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4"><div class="service-block"><h3 class="content-subhead">сопровождение</h3><p>личное сопровождение дизайнером работы над каждым из этапов проекта</p></div></div></div></div><div class="content ribbon"><h2 class="content-head text-center">связаться с нами</h2><div class="contacts"><a href="mailto:onedesdes@gmail.com" class="contact-link"><span class="icon-email icon-lg"></span><span>onedesdes@gmail.com</span></a><br><a href="tel:+380936235670" class="contact-link"><span class="icon-phone icon-lg"></span><span class="icon-viber icon-lg"></span><span>+380936235670</span></a><br><a href="tel:+77786341588" class="contact-link"><span class="icon-phone icon-lg"></span><span class="icon-viber icon-lg"></span><span class="icon-whatsapp icon-lg"></span><span>+77786341588</span></a></div><div class="pure-g"><div class="pure-u-1 pure-u-sm-4-5 pure-u-md-2-3 pure-u-lg-1-2 pure-u-xl-1-3 block-center"><div class="contactus"><p class="js-contactus-tagline content-subhead text-center">отправьте нам сообщение</p><p class="js-contactus-tagline-success content-subhead text-center hidden transparent">ваше сообщение было успешно отправлено!</p><form class="contact-form pure-form"><fieldset><div class="control-group"><label for="email-address">Ваш email-адрес</label><input id="email-address" type="email" placeholder="you@email.co" required class="pure-input-1"></div><div class="control-group"><label for="email-content">Сообщение</label><textarea id="email-content" type="text" placeholder="Напишите нам сообщение.." required class="pure-input-1"></textarea></div></fieldset><button type="button" class="js-contactus-submit pure-button pure-button-secondary pure-button-xlarge pure-u-1-1">Отправить</button></form></div></div></div></div><footer class="site-footer"><p class="copyright-text">Copyright (c) 2016 Onedes Studio</p></footer></main></div><script src="./scripts/main.js"></script></body></html>

src/markup/index.jade
extends partials/_main.jade

block vars
  - var isHomePage = true;

block title
  title Главная | Onedes - Студия Архитектурного Дизайна

block hero
  .splash-container.splash-container-fixed
    .splash
      .splash-image
      .splash-copy.centered
        img.splash-logo(src="images/logo.svg")
        p.splash-subhead студия архитектурного дизайна
    .scroll-more.animate-bounce
      img(src="images/icons/arrow-down.svg")

block content
  //- Services section
  .content
    h2.content-head.text-center наши услуги
    .pure-g.services
      .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
        .service-block
          h3.content-subhead индивидуальный подход
          p ваш проект будет уникальным
      .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
        .service-block
          h3.content-subhead 3d визуализация
          p разработка трехмерного визуального проекта позволит вам увидеть
      .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
        .service-block
          h3.content-subhead рабочая документация
          p пакет чертежей для прикладной работы с проектом
      .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
        .service-block
          h3.content-subhead сопровождение
          p личное сопровождение дизайнером работы над каждым из этапов проекта

  //- Portfolio section
  //- .content.portfolio
  //-   .pure-g
  //-     .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
  //-       img(src="images/noname/LivingRoom_kitchen_09.jpg")
  //-     .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
  //-       img(src="images/noname/LivingRoom_kitchen_07.jpg")
  //-     .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
  //-       img(src="images/noname/bedroom_05.jpg")
  //-     .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
  //-       img(src="images/noname/bedroom_04.jpg")

  //- Contacts section
  .content.ribbon
    h2.content-head.text-center связаться с нами
    include partials/_contacts.jade
    .pure-g
      .pure-u-1.pure-u-sm-4-5.pure-u-md-2-3.pure-u-lg-1-2.pure-u-xl-1-3.block-center
        include partials/_contactform.jade

  include partials/_footer.jade
